<app-page-header header="Neuen Prozess erstellen" [breadcrumbs]="breadcrumbs"></app-page-header>

<div class="content-wrapper">
  <app-file-upload id="upload" placeholder="Prozess-YAML Datei hochladen" (fileChange)="uploadFile($event)" (back)="cancel()" (isValid)="isValid = $event">
    <ng-container back>
      <app-button-unfilled type="reset" size="medium" [bordered]="true" caption="Zurück"></app-button-unfilled>
    </ng-container>
    <ng-container submit>
      <app-submit-button size="medium" [disabled]="!isValid" caption="Erstellen"></app-submit-button>
    </ng-container>
  </app-file-upload>
</div>
