<div class="content-wrapper">
  <app-page-header [breadcrumbs]="breadcrumbs">
    {{ element?.name! }}
  </app-page-header>

  <app-stepper
    [steps]="stepTitles"
    (stepChanged)="stepChanged($event)"
    [currentIndex]="currentIndex"
    [disableRipple]="true">
  </app-stepper>

  <form
    #f="ngForm"
    [formGroup]="propertiesForm"
    (ngSubmit)="f.valid && onSubmitClicked()">
    <div class="grid-wrapper">
      <div class="input-wrapper" *ngFor="let prop of stepProperties">
        <ng-container
          [ngSwitch]="prop.type?.toLowerCase()"
          *ngIf="propertiesForm.contains('' + prop.id)">
          <app-input-field
            *ngSwitchCase="TypeEnum.Text"
            type="text"
            class="input"
            [label]="prop.name ?? ''"
            [formControlName]="prop.id!"
            icon="bar_chart">
          </app-input-field>
          <app-input-field
            *ngSwitchCase="TypeEnum.Number"
            class="input"
            type="number"
            [label]="prop.name ?? ''"
            [formControlName]="prop.id!">
          </app-input-field>
          <app-file-input-field
            *ngSwitchCase="TypeEnum.File"
            [formControlName]="prop.id!"
            [label]="prop.name!"></app-file-input-field>
          <mat-checkbox
            *ngSwitchCase="TypeEnum.Boolean"
            [formControlName]="prop.id!"
            color="primary">
            {{ prop.name }}
          </mat-checkbox>
          <div *ngSwitchDefault>
            <app-select-field [formControlName]="prop.id!" [label]="prop.name!">
              <mat-option
                disabled
                [value]="''"
                i18n="@@placeholder.select_element"
                >Select element</mat-option
              >
              <mat-option
                *ngFor="let e of elementsByReference(prop.type) | async"
                [value]="'' + e.id">
                {{ e.name }}
              </mat-option>
            </app-select-field>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="actions">
      <mat-progress-spinner
        [diameter]="40"
        color="primary"
        *ngIf="loading"
        mode="indeterminate">
      </mat-progress-spinner>
      <app-button-unfilled
        type="button"
        [bordered]="true"
        (click)="navigateBack()"
        i18n="@@actions.back">
        Back
      </app-button-unfilled>
      <app-submit-button
        *ngIf="!isLastStep"
        [disabled]="loading"
        class="button"
        i18n="@@action.next_step">
        Take to the next step
      </app-submit-button>
      <app-submit-button
        *ngIf="isLastStep"
        [disabled]="loading"
        class="button"
        i18n="@@action.finished">
        Finished
      </app-submit-button>
    </div>
  </form>
</div>
