@use '@wogra/wogra-ui-kit/src/lib/themes/media-queries.scss' as mq;

.heading {
  .outlined-icon {
    .mat-icon {
      font-family: 'Material Icons Outlined', 'Material Icons', sans-serif;
    }
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.process-detail-wrapper {

  .table {
    .mat-column-id {
      width: 10%;
      max-width: 100px;
    }

    .mat-column-select {
      min-width: 65px;
      width: 7%;
      max-width: 100px;
    }

    .mat-column-name:not(:nth-last-child(3)) {
      min-width: fit-content;
      width: 15%;
      max-width: 200px;
    }
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 1.5rem;
    grid-template-areas:
      'title'
      'table'
      'buttons';

    .title {
      display: none;
    }

    @media #{mq.$medium-and-up} {
      margin-top: 3rem;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        'title buttons'
        'table table';

      .title {
        display: inherit;
      }
    }

    .title {
      grid-area: title;
      align-self: flex-end;
    }

    h1 {
      margin-bottom: 0;
    }

    .table {
      grid-area: table;
    }

    .buttons {
      grid-area: buttons;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      margin: 0.5rem 0;

      @media #{mq.$medium-and-up} {
        justify-content: flex-end;
      }
    }
  }
}
