<div class="search-field">
  <app-search-field class="search" (valueChange)="applyFilter($event)">
  </app-search-field>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <!-- checkbox column -->
  <ng-container matColumnDef="select" *ngIf="selectable">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="selectHandler(row)"
        [checked]="selectionModel.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- generic columns -->
  <ng-container
    matColumnDef="{{ column.key }}"
    *ngFor="let column of columnsSchema">
    <ng-container [ngSwitch]="column.type">
      <ng-container *ngSwitchCase="'isEdit'">
        <th mat-header-cell *matHeaderCellDef class="icon"></th>
      </ng-container>
      <ng-container *ngSwitchCase="'isDelete'">
        <th mat-header-cell *matHeaderCellDef class="icon"></th>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          arrowPosition="before">
          <div class="mat-subtitle-2 primary-text">{{ column.label }}</div>
        </th>
      </ng-container>
    </ng-container>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="column.type" *ngIf="!element.isEdit" class="cell">
        <ng-container *ngSwitchCase="'isDelete'">
          <app-icon-button
            svgIcon="rcst_delete"
            size="medium"
            (click)="deleteClicked.emit(element)">
          </app-icon-button>
        </ng-container>
        <ng-container *ngSwitchCase="'isEdit'">
          <app-icon-button
            svgIcon="rcst_edit"
            size="medium"
            (click)="element.isEdit = !element.isEdit">
          </app-icon-button>
        </ng-container>
        <div
          *ngSwitchDefault
          class="text"
          (click)="rowClicked.emit(element)"
          (keydown)="rowClicked.emit(element)"
          [tabindex]="0">
          {{ element[column.key] }}
        </div>
      </div>
      <div [ngSwitch]="column.type" *ngIf="element.isEdit">
        <ng-container *ngSwitchCase="'isEdit'">
          <app-icon-button
            matIcon="save"
            size="medium"
            (click)="saved(element)"></app-icon-button>
        </ng-container>
        <ng-container *ngSwitchCase="'isDelete'">
          <app-icon-button
            matIcon="close"
            size="medium"
            color="warn"
            (click)="cancelEdit(element)"></app-icon-button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div *ngIf="column.editable">
            <app-input-field
              [(ngModel)]="element[column.key]"
              [label]="column.key"
              [required]="!!column.required"
              appearance="outline"
              [type]="
                column.type === 'text' || column.type === 'number'
                  ? column.type
                  : 'text'
              "></app-input-field>
          </div>
          <div *ngIf="!column.editable" class="text" [tabindex]="0">
            {{ element[column.key] }}
          </div>
        </ng-container>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
</table>
