<div class="search-field">
  <app-search-field class="search" (valueChange)="applyFilter($event)">
  </app-search-field>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortDisableClear>
  <ng-container
    matColumnDef="{{ column.key }}"
    *ngFor="let column of columnsSchema">
    <ng-container [ngSwitch]="column.type">
      <ng-container *ngSwitchCase="'isEdit'">
        <th mat-header-cell *matHeaderCellDef class="icon"></th>
      </ng-container>
      <ng-container *ngSwitchCase="'isDelete'">
        <th mat-header-cell *matHeaderCellDef class="icon"></th>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          arrowPosition="before">
          <div class="mat-subtitle-1 primary">{{ column.label }}</div>
        </th>
      </ng-container>
    </ng-container>
    <td class="mat-subtitle-2" mat-cell *matCellDef="let element">
      <div [ngSwitch]="column.type" *ngIf="!element.isEdit" class="cell">
        <ng-container *ngSwitchCase="'isDelete'">
          <app-icon-button
            svgIcon="rcst_delete"
            size="medium"
            (click)="deleteClicked.emit(element)">
          </app-icon-button>
        </ng-container>
        <ng-container *ngSwitchCase="'isEdit'">
          <app-icon-button
            svgIcon="rcst_edit"
            size="medium"
            (click)="element.isEdit = !element.isEdit">
          </app-icon-button>
        </ng-container>
        <div *ngSwitchDefault class="text" (click)="rowClicked.emit(element)">
          {{ element[column.key] }}
        </div>
      </div>
      <div [ngSwitch]="column.type" *ngIf="element.isEdit">
        <ng-container *ngSwitchCase="'isEdit'">
          <app-icon-button
            matIcon="save"
            size="medium"
            (click)="saved(element)"></app-icon-button>
        </ng-container>
        <ng-container *ngSwitchCase="'isDelete'">
          <app-icon-button
            svgIcon="rcst_delete"
            size="medium"
            (click)="deleteClicked.emit(element)"></app-icon-button>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div>
            <app-input-field
              [(ngModel)]="element[column.key]"
              [label]="column.key"
              [required]="!!column.required"
              appearance="outline"
              [type]="
                column.type === 'text' || column.type === 'number'
                  ? column.type
                  : 'text'
              "></app-input-field>
          </div>
        </ng-container>
      </div>
    </td>
  </ng-container>
  <td class="mat-body-2 accent center" *matNoDataRow>{{ noDataText }}</td>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
