<div class="content-wrapper">
  <app-page-header i18n="@@header.create_element" [breadcrumbs]="breadcrumbs">
    Bauteil erstellen
  </app-page-header>

  <form
    #f="ngForm"
    [formGroup]="propertiesForm"
    (ngSubmit)="f.valid && saveElement()">
    <div class="grid-wrapper">
      <div class="input-wrapper">
        <app-input-field
          class="input"
          label="Name"
          formControlName="name"
          icon="bar_chart">
        </app-input-field>
      </div>
    </div>
    <div class="actions">
      <app-button-unfilled
        type="button"
        [bordered]="true"
        routerLink="/overview/process/{{ processId }}"
        i18n="@@actions.back">
        Back
      </app-button-unfilled>
      <app-submit-button class="button" i18n="@@actions.save">
        Save
      </app-submit-button>
    </div>
  </form>
</div>
