@use '@wogra/wogra-ui-kit/src/lib/themes/media-queries.scss' as mq;
.grid-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;

  @media #{mq.$medium-and-up} {
    grid-template-columns: 1fr 1fr;
  }

  .input-wrapper {
    width: 100%;
  }
}

.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
