@import "src/app/design/material/essentials/media-queries";

.tab-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    @media #{$medium-and-up} {
        flex-direction: row;
    }
}