<form
  #f="ngForm"
  (ngSubmit)="f.form.valid && updateProfile()"
  class="form-widget"
  [formGroup]="updateProfileForm"
>
  <div>
    <app-text-input-field
      [label]="'id'"
      formControlName="id"
    ></app-text-input-field>
  </div>
  <div>
    <app-text-input-field
      formControlName="email"
      [label]="'email'"
    ></app-text-input-field>
  </div>
  <div>
    <app-text-input-field
      [formControl]="updateProfileForm.controls.username"
      label="username"
      errMsg="Mindestens 3 Buchstaben"
      hint="Dein Nutzername"
    ></app-text-input-field>
  </div>
  <div class="actions">
    <div>
      <app-button-filled type="submit" [disabled]="loading">
        {{ loading ? 'Loading ...' : 'Update' }}
      </app-button-filled>
    </div>

    <div>
      <app-button-unfilled [bordered]="true" (click)="signOut()">Sign Out</app-button-unfilled>
    </div>

    <div>
      <app-icon-button-filled size="small" icon="add">Enbaled</app-icon-button-filled>
    </div>


  </div>
  <h1>test</h1>
</form>
