<form
  [formGroup]="updateProfileForm"
  (ngSubmit)="updateProfile()"
  class="form-widget"
>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>id</mat-label>
      <input matInput id="id" type="text" [value]="session?.user?.id" disabled />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput id="email" type="text" [value]="session?.user?.email" disabled />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>username</mat-label>
      <input matInput formControlName="username" id="username" type="text" />
    </mat-form-field>
  </div>
  <div class="actions">
    <div>
      <app-button-filled type="submit" [disabled]="loading">
        {{ loading ? 'Loading ...' : 'Update' }}
      </app-button-filled>
    </div>

    <div>
      <app-button-unfilled [bordered]="true" (click)="signOut()">Sign Out</app-button-unfilled>
    </div>

    <div>
      <app-icon-button-filled size="small" icon="add">Enbaled</app-icon-button-filled>
    </div>

    
  </div>
  <h1>test</h1>
  </form>
