<form
  #f="ngForm"
  (ngSubmit)="f.form.valid && updateProfile()"
  class="form-widget"
  [formGroup]="updateProfileForm"
>
  <div>
    <app-text-input-field
      [label]="'id'"
      formControlName="id"
    ></app-text-input-field>
  </div>
  <div>
    <app-text-input-field
      formControlName="email"
      [label]="'email'"
    ></app-text-input-field>
  </div>
  <div>
    <app-text-input-field
      formControlName="username"
      label="username"
      errMsg="Minimum of 3 characters"
    ></app-text-input-field>
  </div>
  <div class="actions">
      <app-submit-button [disabled]="loading">
        {{ loading ? 'Loading ...' : 'Update' }}
      </app-submit-button>
      <app-logout-button (click)="signOut()">Sign Out</app-logout-button>
      <app-icon-button-filled size="small" icon="add" type="button">
        Enbaled
      </app-icon-button-filled>
  </div>
</form>
