@import 'src/app/design/material/essentials/media-queries';

.bundle-detail-wrapper {
  display: grid;
  height: 95%;
  grid-template-areas:
    'title'
    'dag'
    'buttons';
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 1rem;

  .title {
    grid-area: title;
    display: none;

    @media #{$medium-and-up} {
      display: inherit;
    }
  }

  .dag {
    grid-area: dag;
  }

  .buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    @media #{$medium-and-up} {
      justify-content: space-between;
    }
  }
}
