<mat-form-field [appearance]="appearance">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <input
    matInput
    [matDatepicker]="picker"
    [formControl]="formControl"
    (change)="change($event)"
    (blur)="onTouch()"
    (dateChange)="dateChange($event)"
    (dateInput)="dateChange($event)"
    [value]="value" />
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [color]="themeColor"
    (change)="change($event)"></mat-datepicker>
</mat-form-field>
