<mat-horizontal-stepper
  *ngIf="steps.length > 0"
  #stepper
  [linear]="false"
  [ngClass]="{ disabled: disabled }"
  [@.disabled]="true"
  [disableRipple]="disableRipple"
  labelPosition="bottom"
  (selectionChange)="stepChanged.emit($event.selectedIndex)">
  <ng-container *ngFor="let step of steps">
    <mat-step [label]="step" class="step" [completed]="false">
      <div class="mat-subheading-1 primary left-label">{{ step }}</div>
    </mat-step>
  </ng-container>
</mat-horizontal-stepper>
