<div
  class="container"
  role="group"
  (click)="!formControl.disabled && fileInput.openFilePicker()"
  (keydown)="!formControl.disabled && fileInput.openFilePicker()">
  <mat-form-field
    appearance="outline"
    appDragAndDrop
    (filesDropped)="dropFile($event)">
    <mat-label>{{ label }}</mat-label>
    <ngx-mat-file-input
      #fileInput
      [formControl]="formControl"
      (change)="fileChangedHandler($event)"
      [color]="themePalette"
      [ngClass]="{ 'file-name': !formControl.disabled }" />
    <mat-error *ngIf="formControl.hasError('required')" i18n="@@err.required"
      >Required</mat-error
    >
    <mat-error
      *ngIf="formControl.hasError('invalidFileType')"
      i18n="@@err.invalidTypeFile"
      >Please select a valid file for input.</mat-error
    >
    <mat-error
      *ngIf="formControl.hasError('invalidExtension')"
      i18n="@@err.invalidExtension"
      >Invalid file extension</mat-error
    >
    <app-button-filled
      *ngIf="!formControl.disabled && !value"
      i18n="@@action.upload"
      matSuffix
      type="button"
      [disabled]="formControl.disabled"
      [size]="size"
      [color]="formControl.valid ? themePalette : 'warn'">
      Upload
    </app-button-filled>
    <app-button-unfilled
      *ngIf="!formControl.disabled && !!value"
      i18n="@@action.upload"
      matSuffix
      type="button"
      [size]="size"
      [color]="formControl.valid ? themePalette : 'warn'">
      Upload
    </app-button-unfilled>
  </mat-form-field>
</div>
