<div class="container" role="group" (click)="fileInput.click()">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      type="text"
      [readonly]="true"
      [value]="value?.name"
      class="file-name" />
    <app-button-filled
      i18n="@@action.upload"
      matSuffix
      type="button"
      [size]="size"
      [color]="color">
      Upload
    </app-button-filled>
  </mat-form-field>
  <input
    #fileInput
    class="input"
    type="file"
    (change)="changeFile($event)"
    (blur)="onTouch()" />
</div>
