<div class="dialog-wrapper">
  <div class="title-wrapper">
    <h4 class="mat-h4 center" mat-dialog-title>
      {{ data.title }}
    </h4>
  </div>
  <div mat-dialog-content class="mat-body-2 content">
    {{ data.content }}
  </div>
  <mat-dialog-actions>
    <app-button-unfilled [mat-dialog-close]="false" i18n="@@action.cancel">
      Cancel
    </app-button-unfilled>
    <app-submit-button
      cdkFocusInitial
      [mat-dialog-close]="true"
      (click)="onConfirmClicked()"
      i18n="@@action.confirm">
      Confirm
    </app-submit-button>
  </mat-dialog-actions>
</div>
