<div class="content-wrapper">
  <app-page-header [breadcrumbs]="breadcrumbs">
    {{ title }}
  </app-page-header>

  <app-stepper
    [steps]="stepTitles"
    (stepChanged)="changeContent($event)"
    [disableRipple]="true"
    [currentIndex]="currentIndex">
  </app-stepper>

  <div class="grid-wrapper">
    <h1 class="title primary-text" i18n="@@label.elements">Bauteile</h1>
    <app-table
      class="table"
      [columnsSchema]="dataColumns"
      [data]="tableData$"
      i18n-noDataText="@@info.no_data_text"
      noDataText="Noch keine Bauteile vorhanden"
      (deleteClicked)="deleteTableRow($event)"
      (saveClicked)="editTableRow($event)"
      (rowClicked)="navigateTo($event)">
    </app-table>
    <div class="buttons">
      <app-handwriting-recognition
        svgIcon="rcst_scan"
        i18n="@@action.scan_element"
        (recognized)="navigateByElementId($event)">
        Bauteil scannen
      </app-handwriting-recognition>
      <app-button-filled
        class="button"
        i18n="@@action.create_element"
        (click)="navigateToCreateElement()">
        Bauteil erstellen
      </app-button-filled>
    </div>
  </div>
</div>
