@use '@angular/material' as mat;
@import 'src/app/design/material/essentials/media-queries';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);

@font-face {
  font-family: 'Avenir Roman';
  src: local('Avenir Roman'),
    url('/assets/fonts/AvenirLTPro-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir Black';
  src: local('Avenir Black'),
    url('/assets/fonts/AvenirLTPro-Black.ttf') format('truetype');
}

$custom-typography: mat.define-typography-config(
  $font-family: 'Avenir Roman',
  $headline-1:
    mat.define-typography-level(60px, 112px, 800, 'Avenir Black', 0px),
  $headline-2:
    mat.define-typography-level(44px, 72px, 800, 'Avenir Black', 2.5px),
  $headline-3: mat.define-typography-level(33px, 48px, 800, 'Avenir Black', 0),
  $headline-4: mat.define-typography-level(30px, 43px, 800, 'Avenir Black', 0),
  $headline-5:
    mat.define-typography-level(24px, 33px, 800, 'Avenir Black', 0.18px),
  $headline-6:
    mat.define-typography-level(20px, 24px, 800, 'Avenir Black', 0.15px),
  $subtitle-1:
    mat.define-typography-level(18px, 24px, 800, 'Avenir Black', 0.15px),
  $subtitle-2:
    mat.define-typography-level(14px, 21px, 800, 'Avenir Black', 0.1px),
  $body-1: mat.define-typography-level(16px, 24px, 350, null, 0.5px),
  $body-2: mat.define-typography-level(14px, 20px, 350, null, 0.25px),
  $caption:
    mat.define-typography-level(12px, 16px, 400, 'Roboto, monospace', 0.4px),
  $button: mat.define-typography-level(14px, 20px, 800, 'Avenir Black', 1.25px),
  $overline:
    mat.define-typography-level(10px, 16px, 500, 'Roboto, monospace', 1.5px),
);

@mixin additional-typography-settings {
  .mat-subtitle-2 {
    line-height: var(--md-button-large-line-height);
    letter-spacing: var(--md-button-large-letter-spacing);
    text-decoration: var(--md-button-large-text-decoration);
  }

  .mat-mdc-unelevated-button,
  .mat-mdc-outlined-button {
    font-weight: var(--md-button-small-font-weight);
    line-height: var(--md-button-small-line-height);
    font-size: var(--md-button-small-font-size);
    letter-spacing: var(--md-button-small-letter-spacing);
    text-decoration: var(--md-button-small-text-decoration);
    text-align: left;

    @media #{$medium-and-up} {
      font-weight: var(--md-button-medium-font-weight);
      line-height: var(--md-button-medium-line-height);
      font-size: var(--md-button-medium-font-size);
      letter-spacing: var(--md-button-medium-letter-spacing);
      text-decoration: var(--md-button-medium-text-decoration);
    }

    &.small {
      font-weight: var(--md-button-small-font-weight);
      line-height: var(--md-button-small-line-height);
      font-size: var(--md-button-small-font-size);
      letter-spacing: var(--md-button-small-letter-spacing);
      text-decoration: var(--md-button-small-text-decoration);
    }

    &.medium {
      font-weight: var(--md-button-medium-font-weight);
      line-height: var(--md-button-medium-line-height);
      font-size: var(--md-button-medium-font-size);
      letter-spacing: var(--md-button-medium-letter-spacing);
      text-decoration: var(--md-button-medium-text-decoration);
    }

    &.large {
      font-weight: var(--md-button-large-font-weight);
      line-height: var(--md-button-large-line-height);
      font-size: var(--md-button-large-font-size);
      letter-spacing: var(--md-button-large-letter-spacing);
      text-decoration: var(--md-button-large-text-decoration);
    }
  }

  .mat-icon {
    font-size: var(--md-button-small-font-size);

    @media #{$medium-and-up} {
      font-size: var(--md-button-medium-font-size);
    }

    @media #{$large-and-up} {
      font-size: var(--md-button-large-font-size);
    }

    &.mini {
      font-size: calc(var(--md-button-small-font-size) / 2);
    }

    &.small {
      font-size: var(--md-button-small-font-size);
    }

    &.medium {
      font-size: var(--md-button-medium-font-size);
    }

    &.large {
      font-size: var(--md-button-large-font-size);
    }
    &.logo {
      font-size: var(--md-button-large-font-size);
    }
    &.huge {
      font-size: 48px;
    }
  }

  .mat-mdc-tab {
    font-weight: var(--md-button-medium-font-weight);
    line-height: var(--md-button-medium-line-height);
    font-size: var(--md-button-medium-font-size);
    letter-spacing: var(--md-button-medium-letter-spacing);
    text-decoration: var(--md-button-medium-text-decoration);
  }

  $subtitle-1: map-get($custom-typography, subtitle-1);
  $body-2: map-get($custom-typography, body-2);

  .mat-step-label {
    font-family: map-get($subtitle-1, font-family);
    font-weight: map-get($subtitle-1, font-weight);
    line-height: map-get($subtitle-1, line-height);
    font-size: map-get($subtitle-1, font-size) !important;
    letter-spacing: map-get($subtitle-1, letter-spacing);
    text-decoration: map-get($subtitle-1, text-decoration);
  }

  .mat-step-header {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
  }

  .mat-mdc-form-field {
    font-family: map-get($body-2, font-family);
    font-weight: map-get($body-2, font-weight);
    line-height: map-get($body-2, line-height);
    font-size: map-get($body-2, font-size);
    letter-spacing: map-get($body-2, letter-spacing);
    text-decoration: map-get($body-2, text-decoration);
  }

  .mat-caption {
    font-style: normal;
    text-align: left;
  }

  b.mat-caption {
    font-weight: 800;
  }

  .mat-overline {
    text-align: left;
    text-transform: uppercase;
  }

  .mat-mdc-list-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
  }
}
