<form
  #f="ngForm"
  (ngSubmit)="f.form.valid && updateProfile()"
  class="form-widget"
  [formGroup]="updateProfileForm">
  <div>
    <flo-input-field
      i18n-label="@@label.id"
      label="id"
      formControlName="id"></flo-input-field>
  </div>
  <div>
    <flo-input-field
      i18n-label="@@label.email"
      formControlName="email"
      label="email"></flo-input-field>
  </div>
  <div>
    <flo-input-field
      i18n-label="@@label.username"
      i18n-errMsg="@@err.min_char"
      formControlName="username"
      label="username"
      errMsg="Minimum of {{ _minlength }} characters"></flo-input-field>
  </div>
  <div>
    <flo-input-field
      i18n-label="@@label.shep_api_key"
      i18n-errMsg="@@err.min_char"
      formControlName="shepardApiKey"
      label="Shepard Api Key"
      errMsg="Minimum of {{ _minlength }} characters"></flo-input-field>
  </div>
  <div>
    <flo-input-field
      i18n-label="@@label.shep_url"
      i18n-errMsg="@@err.min_char"
      formControlName="shepardUrl"
      label="Shepard Url"
      errMsg="Minimum of {{ _minlength }} characters"></flo-input-field>
  </div>
  <div>
    <flo-select-field
      [formControlName]="'storageBackend'"
      label="Storage Backend"
      hint="Select Backend">
      <mat-option [value]="StorageBackendEnum.Supabase">{{
        StorageBackendEnum.Supabase
      }}</mat-option>
      <mat-option [value]="StorageBackendEnum.Shepard">{{
        StorageBackendEnum.Shepard
      }}</mat-option>
    </flo-select-field>
  </div>
  <div class="actions">
    <flo-submit-button [disabled]="loading">
      {{ loading ? 'Loading ...' : 'Update' }}
    </flo-submit-button>
    <flo-logout-button (click)="signOut()" i18n="@@action.sign_out"
      >Sign Out</flo-logout-button
    >
  </div>
</form>
