<form
  #f="ngForm"
  (ngSubmit)="f.form.valid && updateProfile()"
  class="form-widget"
  [formGroup]="updateProfileForm">
  <div>
    <app-input-field
      i18n-label="@@label.id"
      label="id"
      formControlName="id"></app-input-field>
  </div>
  <div>
    <app-input-field
      i18n-label="@@label.email"
      formControlName="email"
      label="email"></app-input-field>
  </div>
  <div>
    <app-input-field
      i18n-label="@@label.username"
      i18n-errMsg="@@err.min_char"
      formControlName="username"
      label="username"
      errMsg="Minimum of {{ _minlength }} characters"></app-input-field>
  </div>
  <div>
    <app-input-field
      i18n-label="@@label.shep_api_key"
      i18n-errMsg="@@err.min_char"
      formControlName="shepardApiKey"
      label="Shepard Api Key"
      errMsg="Minimum of {{ _minlength }} characters"></app-input-field>
  </div>
  <div>
    <app-input-field
      i18n-label="@@label.shep_url"
      i18n-errMsg="@@err.min_char"
      formControlName="shepardUrl"
      label="Shepard Url"
      errMsg="Minimum of {{ _minlength }} characters"></app-input-field>
  </div>
  <div>
    <app-select-field
      [formControlName]="'storageBackend'"
      label="Storage Backend"
      hint="Select Backend">
      <mat-option [value]="StorageBackendEnum.Postgres">{{
        StorageBackendEnum.Postgres
      }}</mat-option>
      <mat-option [value]="StorageBackendEnum.Shepard">{{
        StorageBackendEnum.Shepard
      }}</mat-option>
    </app-select-field>
  </div>
  <div class="actions">
    <app-submit-button [disabled]="loading">
      {{ loading ? 'Loading ...' : 'Update' }}
    </app-submit-button>
    <app-logout-button (click)="signOut()" i18n="@@action.sign_out"
      >Sign Out</app-logout-button
    >
  </div>
</form>
