<div>Buttons</div>

<div>
    <app-button-filled size="small">Small filled</app-button-filled>
    <app-button-filled>Medium filled</app-button-filled>
    <app-button-filled size="large">Large filled</app-button-filled>
</div>
<div>
    <app-button-unfilled [bordered]="true" size="small">Small unfilled bordered</app-button-unfilled>
    <app-button-unfilled [bordered]="true">Medium unfilled bordered</app-button-unfilled>
    <app-button-unfilled [bordered]="true" size="large">Large unfilled bordered</app-button-unfilled>
</div>
<div>
    <app-button-unfilled size="small">Small unfilled</app-button-unfilled>
    <app-button-unfilled>Medium unfilled</app-button-unfilled>
    <app-button-unfilled size="large">Large unfilled</app-button-unfilled>
</div>
<div>
    <app-button-filled [disabled]="true" size="small">Small filled disabled</app-button-filled>
    <app-button-filled [disabled]="true">Medium filled</app-button-filled>
    <app-button-filled [disabled]="true" size="large">Large filled</app-button-filled>
</div>
<div>
    <app-button-unfilled [disabled]="true" [bordered]="true" size="small">Small unfilled bordered</app-button-unfilled>
    <app-button-unfilled [disabled]="true" [bordered]="true">Medium unfilled bordered</app-button-unfilled>
    <app-button-unfilled [disabled]="true" [bordered]="true" size="large">Large unfilled bordered</app-button-unfilled>
</div>
<div>
    <app-button-unfilled [disabled]="true" size="small">Small unfilled</app-button-unfilled>
    <app-button-unfilled [disabled]="true">Medium unfilled</app-button-unfilled>
    <app-button-unfilled [disabled]="true" size="large">Large unfilled</app-button-unfilled>
</div>
<div>
    <app-icon-button-filled icon="add" size="small">Small filled</app-icon-button-filled>
    <app-icon-button-filled icon="add">Medium filled</app-icon-button-filled>
    <app-icon-button-filled icon="add" size="large">Large filled</app-icon-button-filled>
</div>
<div>
    <app-icon-button-filled icon="add" [disabled]="true" size="small">Small filled</app-icon-button-filled>
    <app-icon-button-filled icon="add" [disabled]="true">Medium filled</app-icon-button-filled>
    <app-icon-button-filled icon="add" [disabled]="true" size="large">Large filled</app-icon-button-filled>
</div>

