<!-- TODO: Finish this Component -->
<mat-form-field [appearance]="appearance">
  <mat-label>{{ label }}</mat-label>
  <input
    matInput
    [formControl]="formControl"
    [matAutocomplete]="auto"
    (blur)="onTouch()"
    [value]="selectedOption" />
  <mat-icon *ngIf="icon" matSuffix>arrow_drop_down</mat-icon>
  <mat-error *ngIf="ngControl.invalid">{{ errMsg }}</mat-error>
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete">
  <mat-option
    *ngFor="let option of filteredOptions$ | async"
    [value]="option.value"
    [disabled]="option.disabled"
    [id]="option.id">
    {{ option.viewValue }}
  </mat-option>
</mat-autocomplete>

<div class="content-hidden">
  <ng-content></ng-content>
</div>
