<div
  class="single-file-input-container"
  role="group"
  [attr.aria-describedby]="ariaDescribedBy"
  [attr.aria-labelledby]="parentFormField.getLabelId()">
  <div
    class="upload-file mat-body-2"
    appDragAndDrop
    (filesDropped)="uploadDroppedFile($event)"
    (click)="fileInput.click()">
    <input
      id="file-input"
      type="file"
      class="file-input"
      (change)="changeFile($event)"
      (blur)="onTouch()"
      [formControl]="formControl"
      #fileInput />
    <div class="label mat-h6">
      <p *ngIf="value?.name; else placeholderTemplate">{{ value?.name }}</p>
      <ng-template #placeholderTemplate>
        <mat-icon matPrefix>upload</mat-icon>
        <mat-label>{{ placeholder }}</mat-label>
      </ng-template>
    </div>
  </div>
</div>
