@import '@wogra/wogra-ui-kit/src/lib/themes';
// Add project specific tokens here, if needed

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.page-wrapper {
  min-height: 90%;
  max-height: 100%;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
