<div class="page-wrapper">
  <app-page-header [breadcrumbs]="breadcrumbs">{{
    elementViewModel?.element?.name
  }}</app-page-header>

  <form
    #f="ngForm"
    *ngIf="elementViewModel"
    [formGroup]="propertiesForm"
    (ngSubmit)="(f.valid)">
    <div class="grid-wrapper">
      <div class="input-wrapper" *ngIf="propertiesForm.controls['name']">
        <app-input-field
          class="input"
          label="Name"
          formControlName="name"
          icon="text_fields">
        </app-input-field>
      </div>
      <div
        class="input-wrapper"
        *ngFor="let prop of elementViewModel?.properties">
        <ng-container
          *ngIf="propertiesForm.controls['' + prop.stepPropId]"
          [ngSwitch]="prop.type">
          <app-input-field
            *ngSwitchCase="TypeEnum.Text"
            [label]="prop.label"
            class="input"
            type="text"
            [formControlName]="prop.stepPropId"
            icon="text_fields">
          </app-input-field>
          <app-input-field
            *ngSwitchCase="TypeEnum.Number"
            [label]="prop.label"
            class="input"
            type="number"
            [formControlName]="prop.stepPropId"
            icon="bar_chart">
          </app-input-field>
          <app-input-field
            *ngSwitchCase="TypeEnum.Boolean"
            [label]="prop.label"
            class="input"
            [formControlName]="prop.stepPropId"
            icon="checkbox">
          </app-input-field>
          <app-date-input-field
            *ngSwitchCase="TypeEnum.Date"
            [label]="prop.label"
            class="input"
            [formControlName]="prop.stepPropId">
          </app-date-input-field>
          <app-color-input-field
            *ngSwitchCase="TypeEnum.Color"
            [label]="prop.label"
            class="input"
            [formControlName]="prop.stepPropId">
          </app-color-input-field>
          <app-file-input-field
            *ngSwitchCase="TypeEnum.File"
            [label]="prop.label"
            class="input"
            [formControlName]="prop.stepPropId">
          </app-file-input-field>
          <app-input-field
            *ngSwitchDefault
            [label]="prop.label"
            class="input"
            type="text"
            [formControlName]="prop.stepPropId"
            icon="text_fields">
          </app-input-field>
        </ng-container>
      </div>
    </div>
    <div class="actions">
      <app-button-unfilled
        type="button"
        [bordered]="true"
        routerLink="/overview/process/{{ elementViewModel.process.id }}"
        i18n="@@actions.back">
        Back
      </app-button-unfilled>
    </div>
  </form>
</div>
