@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/design/material/essentials/media-queries';

@mixin color($theme) {
  $accent-palette: map.get($theme, 'accent');
  $warn-palette: map.get($theme, 'warn');
  $primary-palette: map.get($theme, 'primary');
  $primary-contrast-500: mat.get-contrast-color-from-palette(
    $primary-palette,
    500
  );
  $accent-contrast-500: mat.get-contrast-color-from-palette(
    $accent-palette,
    500
  );
  $warn-contrast-500: mat.get-contrast-color-from-palette($warn-palette, 500);

  //TODO: Contrast color does not work properly with mdc as of Angular Material 15.2. So this is a temporary workaround and should be removed as soon as possible
  .mat-mdc-unelevated-button.mat-primary:not(.mdc-button:disabled) {
    color: $primary-contrast-500;
  }

  .mat-mdc-unelevated-button.mat-accent:not(.mdc-button:disabled) {
    color: $accent-contrast-500;
  }

  .mat-mdc-raised-button.mat-primary:not(.mdc-button:disabled) {
    color: $accent-contrast-500;
  }

  .mat-mdc-raised-button.mat-accent:not(.mdc-button:disabled) {
    color: $accent-contrast-500;
  }

  .mat-mdc-raised-button.mat-warn:not(.mdc-button:disabled) {
    color: $warn-contrast-500;
  }

  .mat-mdc-raised-button.mat-warn:not(.mdc-button:disabled) {
    color: $warn-contrast-500;
  }

  .mat-mdc-outlined-button:not(.mdc-button:disabled) {
    border-color: currentColor;
  }

  .mat-mdc-button,
  .mat-mdc-icon-button,
  .mat-unthemed {
    color: var(--md-sys-color-secondary);
  }
}

@mixin layout() {
  .mat-mdc-unelevated-button,
  .mat-mdc-raised-button,
  .mat-mdc-outlined-button {
    height: auto;
    border-radius: 5px;
    border-width: 2px;
    padding: 8px 24px;

    &.bordered {
      padding-top: calc(8px - 2px);
      padding-bottom: calc(8px - 2px);
    }

    @media #{$medium-and-up} {
      height: auto;
      border-radius: 5px;
      border-width: 2px;
      padding: 12px 24px;

      &.bordered {
        padding-top: calc(12px - 2px);
        padding-bottom: calc(12px - 2px);
      }
    }

    &.small {
      height: auto;
      border-radius: 5px;
      border-width: 2px;
      padding: 8px 24px;

      &.bordered {
        padding-top: calc(8px - 2px);
        padding-bottom: calc(8px - 2px);
      }
    }

    &.medium {
      height: auto;
      border-radius: 5px;
      border-width: 2px;
      padding: 12px 24px;

      &.bordered {
        padding-top: calc(12px - 2px);
        padding-bottom: calc(12px - 2px);
      }
    }

    &.large {
      height: auto;
      border-radius: 5px;
      border-width: 2.5px;
      padding: 16px 32px;

      &.bordered {
        padding-top: calc(16px - 2.5px);
        padding-bottom: calc(16px - 2.5px);
      }
    }

    &.text {
      border: none;
      height: auto;
      padding: 8px;

      @media #{$medium-and-up} {
        padding: 12px 8px;
      }

      &.small {
        padding: 8px;
      }

      &.medium {
        padding: 12px 8px;
      }

      &.large {
        padding: 16px 8px;
      }
    }

    .mat-icon {
      display: inline-block;
      padding-right: 0.5em;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include color($theme);
  @include layout();
}
