@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/design/material/essentials/media-queries';

@mixin color($theme) {
  $accent-palette: map.get($theme, 'accent');
  $accent-color: mat.get-color-from-palette($accent-palette);

  .mat-mdc-dialog-container .mdc-dialog__title {
    color: $accent-color;
  }

  .mat-mdc-dialog-title,
  .mat-mdc-dialog-content {
    color: $accent-color;
  }
}

@mixin layout() {
  .mat-mdc-dialog-container {
    text-align: center;
    max-width: 24rem;

    @media #{$medium-and-up} {
      max-width: 50vw;
      min-width: 24rem;
    }

    .mat-mdc-dialog-surface {
      padding: 1.5rem 1.5rem 0 1.5rem;
      border-radius: 12px;
    }

    .mat-mdc-dialog-actions {
      display: flex;
      justify-content: center;
      padding-bottom: 1.625rem;
      gap: 1rem;

      @media #{$medium-and-up} {
        justify-content: space-between;
      }
    }

    .mat-mdc-dialog-title {
      width: 100%;
      padding: 0;
      @extend .mat-h4;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include color($theme);
  @include layout();
}
