@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/design/material/essentials/media-queries';

@mixin color($theme) {
  $accent-palette: map.get($theme, 'accent');
  $accent-color: mat.get-color-from-palette($accent-palette);

  .mat-dialog-title,
  .mat-dialog-content {
    color: $accent-color;
  }
}

@mixin layout() {
  .mat-dialog-container {
    border-radius: 12px;
    text-align: center;
    padding: 1.5rem;
    max-width: 24rem;

    @media #{$medium-and-up} {
      max-width: 50vw;
      min-width: 24rem;
    }

    .mat-dialog-content {
      margin: 1rem 0;
    }

    .mat-dialog-actions {
      display: flex;
      justify-content: center;
      padding-bottom: 1.625rem;
      gap: 1rem;

      @media #{$medium-and-up} {
        justify-content: space-between;
      }
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include color($theme);
  @include layout();
}
