@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/design/material/essentials/media-queries';

@mixin layout($typography) {
  app-file-input-field {
    .mdc-button {
      margin-right: 5px;
    }
    ngx-mat-file-input {
      .mat-mdc-input-element {
        cursor: pointer;
      }
      .mat-mdc-form-field-suffix {
        display: none;
      }
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include layout($typography-config);
}
