@mixin layout() {
  .mat-icon {
    display: flex;
    height: 1em;
    width: 1em;
    overflow: inherit;
    vertical-align: middle;

    &.logo {
      width: 56px;
      height: 47px;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include layout();
}
