@mixin layout() {
  .mat-icon {
    height: 1em;
    width: 1em;
    overflow: inherit;
    vertical-align: middle;
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include layout();
}
