@mixin layout() {
  .mat-icon {
    display: flex;
    height: 1em;
    width: 1em;
    overflow: inherit;
    vertical-align: middle;

    &.logo {
      width: 105px;
      height: 86px;
      font-size: 86px;
    }
    &.large {
      width: 48px;
      height: 48px;
      font-size: 48px;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include layout();
}
