@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme, $background) {
  $primary-palette: map.get($theme, 'primary');
  $primary-color: mat.get-color-from-palette($primary-palette, 500);
  $primary-color-50: mat.get-color-from-palette($primary-palette, 50);

  tr.mat-header-row {
    background-color: $primary-color-50;
  }

  tr.mat-row:first-of-type {
    td {
      border-top: 1px solid $primary-color;
    }
  }

  td.mat-cell {
    border-color: $primary-color;
  }

  .mat-sort-header-arrow {
    color: $primary-color;
  }
}

@mixin layout() {
  th.icon {
    width: 50px;
  }

  .mat-sort-header-arrow {
    opacity: 1;
  }

  .mat-subheading-2 {
    margin: 0;
  }

  td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 1rem;
  }

  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type {
    padding-right: 0rem;
  }

  tr.mat-row {
    height: 3.5rem;
  }

  .mat-sort-header-stem {
    background: none;
  }

  .mat-sort-header-position-before {
    justify-content: flex-end;

    .mat-sort-header-arrow {
      opacity: 1 !important;
      transform: translateY(0) !important;
      margin-right: 1rem;
    }
  }
}

@mixin theme($theme, $background) {
  @include color($theme, $background);
  @include layout();
}
