@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $primary-palette: map.get($theme, 'primary');
  $primary-color: mat.get-color-from-palette($primary-palette, 500);
  $primary-color-50: mat.get-color-from-palette($primary-palette, 50);
  $accent-palette: map.get($theme, 'accent');
  $accent-color: mat.get-color-from-palette($accent-palette);

  tr.mat-mdc-header-row {
    background-color: $primary-color-50;
  }

  tr.mat-mdc-row:first-of-type {
    td {
      border-top: 1px solid $primary-color;
    }
  }

  td.mat-mdc-cell {
    border-color: $primary-color;
    color: $accent-color;
    height: inherit;
  }

  .mat-sort-header-arrow {
    color: $primary-color;
  }
}

@mixin layout() {
  th.icon {
    width: 50px;
  }

  .mat-sort-header-arrow {
    opacity: 1;
  }

  .mat-subtitle-1 {
    margin: 0;
  }

  td.mat-mdc-cell {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .mat-form-field-wrapper {
      padding: 0;
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-infix {
        max-width: 183px;
        width: 100%;
      }
      /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
      .mat-form-field-underline {
        display: block;
        bottom: 0.4em;
      }
    }
  }

  td.mat-mdc-cell:first-of-type,
  th.mat-mdc-header-cell:first-of-type {
    padding-left: 1rem;
  }

  th.mat-mdc-header-cell:last-of-type,
  td.mat-mdc-cell:last-of-type {
    padding-right: 0;
  }

  tr.mat-mdc-row {
    height: 3.5rem;
  }

  .mat-sort-header-stem {
    background: none;
  }

  .mat-sort-header-position-before {
    justify-content: flex-end;

    .mat-sort-header-arrow {
      opacity: 1 !important;
      transform: translateY(0) !important;
      margin-right: 1rem;
    }
  }
}

@mixin theme($theme, $typography-config, $variants) {
  @include color($theme);
  @include layout();
}
