@import 'src/app/design/material/essentials/media-queries';

.overview-wrapper {
  .table {
    .mat-column-id {
      width: 10%;
      max-width: 100px;
    }

    .mat-column-select {
      min-width: 65px;
      width: 7%;
      max-width: 100px;
    }

    .mat-column-name:not(:nth-last-child(3)) {
      min-width: fit-content;
      width: 15%;
      max-width: 200px;
    }
  }

  .grid-wrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 2rem;
    grid-template-areas:
      'tabs'
      'table'
      'button';

    @media #{$medium-and-up} {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        'tabs button'
        'table table';
    }

    .tabs {
      grid-area: tabs;
    }

    .table {
      grid-area: table;
    }

    .actions {
      display: flex;
      grid-area: button;
      justify-self: center;

      @media #{$medium-and-up} {
        justify-self: end;
      }
    }
  }
}
