<app-page-header i18n-header="@@header.overview" header="Overview"></app-page-header>

<div class="content-wrapper">
    <app-tab-group class="tabs" [labels]="tabs" (indexChanged)="changeContent($event)"></app-tab-group>
    <app-table
      class="table"
      [columnsSchema]="dataColumns"
      [data]="tableData$"
      (deleteClicked)="deleteTableRow($event)"
      (saveClicked)="editTableRow($event)"
      (rowClicked)="navigateTo($event)"
    ></app-table>
    <app-create-button
      class="button"
      routerLink="/overview/process"
      i18n="@@actions.create"
      caption="Create">
    </app-create-button>
</div>
