<div class="content-wrapper">
  <app-page-header i18n="@@header.overview">Overview</app-page-header>

  <div class="grid-wrapper">
    <app-tab-group
      class="tabs"
      [labels]="tabs"
      [index]="currentIndex"
      (indexChanged)="changeContent($event)"></app-tab-group>
    <app-table
      class="table"
      [selectable]="true"
      [multipleSelect]="true"
      [columnsSchema]="dataColumns"
      [(selection)]="selectedRows"
      [compareWith]="comparator"
      [data]="tableData$"
      (deleteClicked)="deleteTableRow($event)"
      (saveClicked)="editTableRow($event)"
      (rowClicked)="navigateTo($event)"></app-table>
    <div class="actions">
      <app-icon-button
        *ngIf="!!selectedRows.length"
        color="warn"
        class="delete-button"
        svgIcon="rcst_delete"
        (click)="deleteSelectedRows()"></app-icon-button>
      <app-create-button
        *ngIf="currentIndex === 0"
        class="button"
        routerLink="/overview/process"
        i18n="@@actions.create">
        Create
      </app-create-button>
    </div>
  </div>
</div>
