<flo-default-template>
  <flo-page-header
    header
    i18n="@@header.new_bundle"
    [breadcrumbs]="breadcrumbs">
    New Bundle
  </flo-page-header>
  <ng-container main>
    <div class="bundle-new-wrapper">
      <form
        #f="ngForm"
        class="form"
        (reset)="cancel()"
        (ngSubmit)="uploadFile()"
        [formGroup]="formGroup">
        <flo-drop-file-input
          class="file-upload"
          formControlName="file"
          id="upload">
          <ng-container placeholder>
            <div class="inline">
              <flo-icon matPrefix>upload</flo-icon>
              <mat-label class="primary-text" i18n="@@placeholder.upload_yaml">
                Upload Process-YAML
              </mat-label>
            </div>
          </ng-container>
          <ng-container actions>
            <div class="margin-top">
              <flo-button-unfilled
                type="reset"
                size="medium"
                [bordered]="true"
                i18n="@@action.back">
                Back
              </flo-button-unfilled>
              <flo-submit-button
                size="medium"
                [disabled]="!!f.invalid"
                i18n="@@action.create">
                Create
              </flo-submit-button>
              <mat-spinner diameter="40" *ngIf="loading"></mat-spinner>
            </div>
          </ng-container>
        </flo-drop-file-input>
      </form>
    </div>
  </ng-container>
</flo-default-template>
